<html>
    <head>
      {% if title %}
      <title>{{ title }} - Gerenciador de Estoque</title>
      {% else %}
      <title>Bem vindo ao Gerenciador de Estoque</title>
      {% endif %}
    </head>
    <body>
        Navegar:
        <a href="{{ url_for('index') }}">Home</a></div>
        <a href="{{ url_for('cadastro') }}">Cadastro</a>
        <a href="{{ url_for('visualizar') }}">Visualizar</a>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
